header {
  display: flex;
  align-items: start;
  position: sticky;
  top: 0px;
  text-align: center;
  background-color:  #065654;
  padding-top: 9px;
  margin-left: 0;
  color: azure;

  img {
    margin: 0px 150px 10px 0px;
    padding-left: 0;
  }
}
