<div class="navbar">
  <div class="bouton" matTooltip="Page d'accueil" routerLink="accueil" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" matTooltipPosition="right" matTooltipClass="custom-tooltip">
    <mat-icon class="button">home</mat-icon>
  </div>
  <div routerLink="ng">
    <button class="bouton" matTooltip="Z265xx" routerLinkActive="active" matTooltipPosition="right" matTooltipClass="custom-tooltip">NG</button>
  </div>
  <div routerLink="agc">
    <button class="bouton" matTooltip="X76xxx" routerLinkActive="active" matTooltipPosition="right" matTooltipClass="custom-tooltip">AGC</button>
  </div>
  <div routerLink="r2n">
    <button class="bouton" matTooltip="Z55xxx" routerLinkActive="active" matTooltipPosition="right" matTooltipClass="custom-tooltip">R2N</button>
  </div>
  <div class="bouton" matTooltip="Note Perso" routerLink="note-perso" routerLinkActive="active" matTooltipPosition="right" matTooltipClass="custom-tooltip">
    <mat-icon class="button">edit_note</mat-icon>
  </div>
  <div class="bouton" matTooltip="Heures Sup/Astreinte" routerLink="hsupastreinte" routerLinkActive="active" matTooltipPosition="right" matTooltipClass="custom-tooltip">
    <mat-icon class="button">timelapse</mat-icon>
  </div>
  <div class="bouton" matTooltip="Saisie Astreinte" routerLink="saisie-astreinte" routerLinkActive="active" matTooltipPosition="right" matTooltipClass="custom-tooltip">
    <mat-icon class="button">timeline</mat-icon>
  </div>
  <div class="bouton" matTooltip="Pointage" routerLink="pointage" routerLinkActive="active" matTooltipPosition="right" matTooltipClass="custom-tooltip">
    <mat-icon class="button">save</mat-icon>
  </div>
  <div class="bouton" matTooltip="Recherche" routerLink="search" routerLinkActive="active" matTooltipPosition="right" matTooltipClass="custom-tooltip">
    <mat-icon class="button">pageview</mat-icon>
  </div>
  <div class="bouton" matTooltip="Paramètres" routerLink="parametres" routerLinkActive="active" matTooltipPosition="right" matTooltipClass="custom-tooltip">
    <mat-icon class="button">settings</mat-icon>

  </div>
</div>
